<hgroup>
  <div id="header-inner">
    <span class="first"><a href="{{ root_url }}/">{{ site.title }}</a></span>
    <span><a href="/about.html">About me</a></span>
    <span><a href="/projects.html">Projects</a></span>
    <span><a href="/writing.html">Writing</a></span>
    <span><a href="/speaking.html">Speaking</a></span>
    <span><a href="/contact.html">Contact</a></span>
    <span><a href="/blog/archives">Archive</a></span>
    <span class="last">
	<a href="{{ site.subscribe_rss }}" title="subscribe via RSS">rss,</a><a href="{{ site.subscribe_email }}" title="subscribe via email">email</a></span>
  </div>
</hgroup>
