<p>Below is a list of my speaking engagements and here is a <a href="http://www.youtube.com/watch?v=DW8ISErV_4s">sample</a>.</p>
<table>
<thead>
<tr class="header">
<th align="left">Date</th>
<th align="left">Host</th>
<th align="left">Event</th>
<th align="left">Title</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><strong>Upcoming</strong></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="even">
<td align="left"><strong>Past</strong></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left">3/31/2015</td>
<td align="left">Bay Area UseR Group</td>
<td align="left"><a href="http://www.meetup.com/R-Users/events/219136661/">Meetup</a></td>
<td align="left">Randomized software testing in R with quickcheck</td>
</tr>
<tr class="even">
<td align="left">10/29/2014</td>
<td align="left">BIG Data technology and applications - East Bay Group</td>
<td align="left"><a href="http://www.meetup.com/Analyzing-and-processing-BIG-Data/events/202353642/">Meetup</a></td>
<td align="left">RHadoop – Scaling the R Language for Big Data Analysis</td>
</tr>
<tr class="odd">
<td align="left">09/23/2014</td>
<td align="left">Bay Area UseR Group</td>
<td align="left"><a href="http://www.meetup.com/R-Users/events/202169752/">Meetup</a></td>
<td align="left"><a href="http://piccolboni.info/2014/08/10-eigenmaps-of-the-united-states-of-america.html">10 eigenmaps of the United States of America - Antonio Piccolboni</a></td>
</tr>
<tr class="even">
<td align="left">07/02/2014</td>
<td align="left">UCLA</td>
<td align="left"><a href="http://user2014.stat.ucla.edu/">The R User Conference</a></td>
<td align="left"><a href="http://user2014.stat.ucla.edu/abstracts/talks/103_Piccolboni.pdf">Plyrmr: a data manipulation DSL for big data</a></td>
</tr>
<tr class="odd">
<td align="left">02/17/2014</td>
<td align="left">Bay Area UseR Group</td>
<td align="left"><a href="http://www.meetup.com/R-Users/events/165628062/">Meetup</a></td>
<td align="left">plyrmr, Hadoop Mapreduce for the rest of us.</td>
</tr>
<tr class="even">
<td align="left">10/28/2013</td>
<td align="left">O’Reilly</td>
<td align="left"><a href="http://strataconf.com/stratany2013/public/schedule/detail/30632">Strata Conference</a></td>
<td align="left">Using R and Hadoop for statistical computation at scale. (Tutorial with Joseph Rickert)</td>
</tr>
<tr class="odd">
<td align="left">10/10/2013</td>
<td align="left">Los Angeles Hadoop User Group</td>
<td align="left"><a href="http://www.meetup.com/LA-HUG/events/140572752/"> Meetup </a></td>
<td align="left"><a href="http://www.ustream.tv/recorded/39729279">Making R play well with Hadoop</a>. (with David Champagne)</td>
</tr>
<tr class="even">
<td align="left">05/15/2013</td>
<td align="left">Orange County Hadoop User Group</td>
<td align="left"><a href="http://www.meetup.com/OC-HUG/events/113336802/">On line meetup</a></td>
<td align="left"><a href="https://www.youtube.com/watch?v=wxLo5q1Wu9M"> R and Hadoop</a></td>
</tr>
<tr class="odd">
<td align="left">01/24/2013</td>
<td align="left">SF Data Mining</td>
<td align="left"><a href="http://www.meetup.com/Data-Mining/events/95404242/">Meetup</a></td>
<td align="left">Scalable Analytics in R with rmr</td>
</tr>
<tr class="even">
<td align="left">10/13/2012</td>
<td align="left">ACM Bay Area Chapter</td>
<td align="left"><a href="http://www.sfbayacm.org/proposed-sessions-data-mining-camp-%E2%80%93-october-2012">Data Mining Camp</a></td>
<td align="left">RHadoop</td>
</tr>
<tr class="odd">
<td align="left">10/09/2012</td>
<td align="left">Bay Area UseR Group</td>
<td align="left"><a href="http://www.meetup.com/R-Users/events/76630392/">Meetup</a></td>
<td align="left">rmr 2.0</td>
</tr>
<tr class="even">
<td align="left">06/14/2012</td>
<td align="left">Vanderbilt University</td>
<td align="left"><a href="http://biostat.mc.vanderbilt.edu/wiki/Main/UseR-2012">use R!</a></td>
<td align="left"><a href="http://biostat.mc.vanderbilt.edu/wiki/pub/Main/UseR-2012/125-Piccolboni.pdf">Slicing and dicing big data with RHadoop-rmr</a></td>
</tr>
<tr class="odd">
<td align="left">05/02/2012</td>
<td align="left">Revolution Analytics</td>
<td align="left">Webinar</td>
<td align="left"><a href="http://www.revolutionanalytics.com/news-events/free-webinars/2012/r-and-hadoop-equals-big-data-analytics/">R + Hadoop = Big Data Analytics </a></td>
</tr>
<tr class="even">
<td align="left">03/02/2012</td>
<td align="left">Linkedin</td>
<td align="left">Seminar</td>
<td align="left">RHadoop and rmr – mapreduce in R</td>
</tr>
<tr class="odd">
<td align="left">02/29/2012</td>
<td align="left">O’Reilly</td>
<td align="left"><a href="http://strataconf.com/strata2012/public/schedule/detail/22548">Strata Conference</a></td>
<td align="left"><a href="http://www.youtube.com/watch?v=DW8ISErV_4s">RHadoop, R meets Hadoop</a></td>
</tr>
<tr class="even">
<td align="left">01/18/2012</td>
<td align="left">Yahoo!</td>
<td align="left">Bay Area Hadoop Meetup</td>
<td align="left"><a href="http://www.meetup.com/hadoop/events/37330242/">RHadoop, Hadoop for R</a></td>
</tr>
<tr class="odd">
<td align="left">12/08/2011</td>
<td align="left">University of California, Berkeley, Dept. of Statistics</td>
<td align="left">Statistics and Genomics Seminar</td>
<td align="left"><a href="http://events.berkeley.edu/index.php/calendar/sn/ccb.html?event_ID=49467&amp;date=2011-12-08">RHadoop, the Marriage of R and Hadoop</a></td>
</tr>
<tr class="even">
<td align="left">11/09/2011</td>
<td align="left">Cloudera</td>
<td align="left">Hadoop World</td>
<td align="left"><a href="http://www.hadoopworld.com/session/the-powerful-marriage-of-r-and-hadoop/">The Powerful Marriage of R and Hadoop</a> (main speaker: David Champagne)</td>
</tr>
<tr class="odd">
<td align="left">10/11/2011</td>
<td align="left">Bay Area UseR Group</td>
<td align="left">Meetup</td>
<td align="left"><a href="http://www.meetup.com/R-Users/events/36145052/">The RHadoop Project</a></td>
</tr>
<tr class="even">
<td align="left">10/15/2011</td>
<td align="left">ACM San Francisco Bay Area</td>
<td align="left"><a href="http://sfbayacm.org/event/data-mining-camp-october-2011">Data Mining Camp</a></td>
<td align="left">Session: R and Hadoop<br> Panel Discussion:How to Deploy a First Hadoop Analytic Data Mart</td>
</tr>
</tbody>
</table>
